.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 200px;
  height: 200px;
}

.pokemonide_loetelu {
  text-transform: capitalize;
  color: darkolivegreen;
  font-weight: bold;
  border: 2px dotted darkred;
  border-radius: 20px;
  background-color: rgb(235, 200, 67);
  padding: 20px 20px ;
  width: 300px;
}

.pokemoniinfo_nimi {
  text-transform: capitalize;
}

.pokemon-nimekirjas {
  cursor: pointer;
  user-select: none;
}

.kustuta {
  color: darkred;
  border: 2px dotted darkred;
  border-radius: 20px;
  background-color: rgb(245, 184, 72);
  padding: 4px 20px 6px 20px;
  width: 300px;
  cursor: pointer;
  user-select: none;
}

.navigeerimine {
  color: darkred;
  cursor: pointer;
  user-select: none;
}

.pokemoniinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: darkolivegreen;
  border: 2px dotted darkred;
  border-radius: 20px;
  background-color: rgb(235, 200, 67);
  padding: 4px 20px 6px 20px;
  width: 300px;
  box-shadow: -2px 0px 38px 10px rgba(235,200,67,0.75);
-webkit-box-shadow: -2px 0px 38px 10px rgba(235,200,67,0.75);
-moz-box-shadow: -2px 0px 38px 10px rgba(235,200,67,0.75);
}

.pilt {
  border: 5px solid darkgoldenrod;
  border-radius: 10px;
}